<% include ../partials/header %>

<form action="/reports/<%= report._id %>?_method=PUT" method="POST" class="form-group">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <label for="address">Address</label>
            <input type="text" name="address" placeholder="Address" value="<%= report.address %>" class="form-control">
        </div>
        <div class="col-sm-12 col-lg-6">
            <label for="type">Type of incident</label>
            <input type="text" name="type" placeholder="Type of incident" value="<%= report.type %>" class="form-control">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <label for="description">Description</label>
            <textarea name="description" columns="20" class="form-control"><%= report.description %></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit Report</button>
  </form>

<% include ../partials/footer %>