<% include ../partials/header %>

      <h1 class="display-4"><%= report.address %></h1>
        <p class="lead"><%= report.type %></p>
        <hr class="my-4">
        <p><%= report.description %></p>
      </div>

<% include ../partials/footer %>