<% include ../partials/header%>
    <ul>
        <% organizations.forEach(function(organization){ %>
        <li><%= organization.name %></li>
        <% }) %>
    </ul>
<% include ../partials/footer%>