<% include ./partials/header %>

        <form action="/" method="POST">
            <input type="text" name="name" placeholder="name">
            <input type="submit">
        </form>

<% include ./partials/footer %>