<% include ../partials/header %>

    <% users.forEach(function(user){ %>
      <ul class="list-group">
        <li class="list-group-item"><%= user.firstName + " " + user.lastName %></li>
      </ul>
    <% }) %> 

<% include ../partials/footer %>